use master 
go
if db_id('QLCB') is not null
	drop database QLCB
go
create database QLCB
go
use QLCB

---TABLE CHUYEN BAY----
CREATE TABLE CHUYENBAY
(
	MACHUYENBAY VARCHAR (10),
	MATUYENBAY VARCHAR(10),
	NGAYGIO DATE,
	THOIGIANBAY INT,
	SOLUONGGHEHANG1 INT,
	SOLUONGGHEHANG2 INT
	CONSTRAINT PK_MACHUYENBAY PRIMARY KEY (MACHUYENBAY)
)
-----TABLE TINH TRANG VE----
CREATE TABLE TINHTRANGVE
(
	MATINHTRANGVE VARCHAR(10),
	MACHUYENBAY VARCHAR(10),
	MAHANGVE VARCHAR(10),
	SOGHETRONG INT,
	SOGHEDAT INT
	CONSTRAINT PK_TINHTRANGVE PRIMARY KEY (MATINHTRANGVE)
)
-----TABLE VE CHUYEN BAY----
CREATE TABLE VECHUYENBAY
(
	MAVE VARCHAR(10),
	MACHUYENBAY VARCHAR(10),
	MAHANGVE VARCHAR(10),
	MAHANHKHACH VARCHAR(10),
	GIATIEN FLOAT
	CONSTRAINT PK_VECHUYENBAY PRIMARY KEY (MAVE)
)
---TABLE HANH KHACH----
CREATE TABLE HANHKHACH
(
	MAHANHKHACH VARCHAR(10),
	TENHANHKHACH NVARCHAR(50), 
	CMND VARCHAR(10),
	DIENTHOAI VARCHAR(10) 
	CONSTRAINT PK_HANHKHACH PRIMARY KEY (MAHANHKHACH)
	
)
------TABLE PHIEU DAT CHO ----
CREATE TABLE PHIEUDATCHO
(
	MAPHIEUDAT VARCHAR(10),
	MACHUYENBAY VARCHAR(10),
	MAHANHKHACH VARCHAR(10),
	MAHANGVE VARCHAR(10),
	GIATIEN FLOAT,
	NGAYDAT DATE 
	CONSTRAINT PK_PHIEUDATCHO PRIMARY KEY (MAPHIEUDAT)
)
----TABLE TUYEN BAY---
CREATE TABLE TUYENBAY
(
	MATUYENBAY VARCHAR(10),
	SANBAYDI VARCHAR(10),
	SANBAYDEN VARCHAR(10)
	CONSTRAINT PK_TUYENBAY PRIMARY KEY (MATUYENBAY)
)

-----TABLE DON GIA----
CREATE TABLE DONGIA
(
	MADONGIA VARCHAR(5),
	MATUYENBAY VARCHAR(10),
	MAHANGVE VARCHAR(10),
	DONGIA FLOAT
	CONSTRAINT PK_DONGIA PRIMARY KEY (MADONGIA)
)

-----TABLE HANG VE----
CREATE TABLE HANGVE
(
	MAHANGVE VARCHAR(10),
	TENHANGVE NVARCHAR(50)
	CONSTRAINT PK_HANGVE PRIMARY KEY (MAHANGVE)
)
----TABLE DOANH THU NAM---
CREATE TABLE DOANHTHUNAM 
(
	MADOANHTHUNAM VARCHAR(10),
	NAM INT,
	TONGDOANHTHUNAM FLOAT
	CONSTRAINT PK_DOANHTHUNAM PRIMARY KEY (MADOANHTHUNAM)
)
-----TABLE THAM SO----
CREATE TABLE THAMSO
(
	TGBAYTOITHIEU INT ,
	SOSANBAYTRUNGGIANTOIDA INT,
	TGDUNGTOITHIEU INT,
	TGDUNGTOIDA INT,
	TGCHAMNHATDATVE INT,
	TGCHAMNHATHUYDATVE INT
)

----TABLE CHI TIET CHUYEN BAY---
CREATE TABLE CHITIETCHUYENBAY
(
	MACHITIETCHUYENBAY VARCHAR(10),
	MACHUYENBAY VARCHAR(10),
	SANBAYTRUNGGIAN VARCHAR(10),
	TGDUNG TIME,
	GHICHU NVARCHAR(20)	
	CONSTRAINT PK_CHITIETCHUYENBAY PRIMARY KEY (MACHITIETCHUYENBAY)
)
----TABLE SAN BAY----
CREATE TABLE SANBAY
(
	MASANBAY VARCHAR(10),
	TENSANBAY NVARCHAR(30)
	CONSTRAINT PK_SANBAY PRIMARY KEY (MASANBAY)
)
-----TABLE CHI TIET DOANH THI THANG----
CREATE TABLE CT_DOANHTHUTHANG
(
	MACTDOANHTHUTHANG VARCHAR(10),
	MADOANHTHUTHANG VARCHAR(10),
	MACHUYENBAY VARCHAR(10),
	SOVE INT,
	TYLE INT,
	DOANHTHU FLOAT
	CONSTRAINT PK_CTDOANHTHUTHANG PRIMARY KEY (MACTDOANHTHUTHANG)
)
------TABLE DOANH THU THANG----
CREATE TABLE DOANHTHUTHANG
(
	MADOANHTHUTHANG VARCHAR(10),
	THANG INT,
	MADOANHTHUNAM VARCHAR(10),
	SOCHUYENBAY INT,
	TYLE INT,
	TONGDOANHTHUTHANG FLOAT 
	CONSTRAINT PK_DOANHTHUTHANG PRIMARY KEY (MADOANHTHUTHANG)
)

------KHOÁ NGOẠI
ALTER TABLE TINHTRANGVE ADD CONSTRAINT FK_TINHTRANGVE_CHUYENBAY FOREIGN KEY (MACHUYENBAY) REFERENCES CHUYENBAY(MACHUYENBAY)
ALTER TABLE VECHUYENBAY ADD CONSTRAINT FK_VECHUYENBAY_CHUYENBAY FOREIGN KEY (MACHUYENBAY) REFERENCES CHUYENBAY(MACHUYENBAY)
ALTER TABLE PHIEUDATCHO ADD CONSTRAINT FK_PHIEUDATCHO_CHUYENBAY FOREIGN KEY (MACHUYENBAY) REFERENCES CHUYENBAY(MACHUYENBAY)
ALTER TABLE CT_DOANHTHUTHANG ADD CONSTRAINT FK_CTDOANHTHUTHANG_CHUYENBAY FOREIGN KEY (MACHUYENBAY) REFERENCES CHUYENBAY(MACHUYENBAY)
ALTER TABLE CHITIETCHUYENBAY ADD CONSTRAINT FK_CHITIETCHUYENBAY_CHUYENBAY FOREIGN KEY (MACHUYENBAY) REFERENCES CHUYENBAY(MACHUYENBAY)
ALTER TABLE CHUYENBAY ADD CONSTRAINT FK_CHUYENBAY_TUYENBAY FOREIGN KEY (MATUYENBAY) REFERENCES TUYENBAY(MATUYENBAY)
ALTER TABLE DONGIA ADD CONSTRAINT FK_DONGIA_TUYENBAY FOREIGN KEY (MATUYENBAY) REFERENCES TUYENBAY(MATUYENBAY)
ALTER TABLE DONGIA ADD CONSTRAINT FK_DONGIA_HANGVE FOREIGN KEY (MAHANGVE) REFERENCES HANGVE(MAHANGVE)
ALTER TABLE TINHTRANGVE ADD CONSTRAINT FK_TINHTRANGVE_HANGVE FOREIGN KEY (MAHANGVE) REFERENCES HANGVE(MAHANGVE)
ALTER TABLE VECHUYENBAY ADD CONSTRAINT FK_VECHUYENBAY_HANGVE FOREIGN KEY (MAHANGVE) REFERENCES HANGVE(MAHANGVE)
ALTER TABLE PHIEUDATCHO ADD CONSTRAINT FK_PHIEUDATCHO_HANGVE FOREIGN KEY (MAHANGVE) REFERENCES HANGVE(MAHANGVE)
ALTER TABLE VECHUYENBAY ADD CONSTRAINT FK_VECHUYENBAY_HANHKHACH FOREIGN KEY (MAHANHKHACH) REFERENCES HANHKHACH(MAHANHKHACH)
ALTER TABLE PHIEUDATCHO ADD CONSTRAINT FK_PHIEUDATCHO_HANHKHACH FOREIGN KEY (MAHANHKHACH) REFERENCES HANHKHACH(MAHANHKHACH)
ALTER TABLE DOANHTHUTHANG ADD CONSTRAINT FK_DOANHTHUTHANG_DOANHTHUNAM FOREIGN KEY (MADOANHTHUNAM) REFERENCES DOANHTHUNAM(MADOANHTHUNAM)
ALTER TABLE CT_DOANHTHUTHANG ADD CONSTRAINT FK_CTDOANHTHUTHANG_DOANHTHUTHANG FOREIGN KEY (MADOANHTHUTHANG) REFERENCES DOANHTHUTHANG(MADOANHTHUTHANG)
ALTER TABLE TUYENBAY ADD CONSTRAINT FK_TUYENBAYSANBAYDI_SANBAY FOREIGN KEY (SANBAYDI) REFERENCES SANBAY(MASANBAY)
ALTER TABLE TUYENBAY ADD CONSTRAINT FK_TUYENBAYSANBAYDEN_SANBAY FOREIGN KEY (SANBAYDEN) REFERENCES SANBAY(MASANBAY)


--------THÊM DỮ LIỆU
INSERT INTO HANGVE 
VALUES
('HV1',N'Ghế hạng Phổ thông (Economy Class)'),
('HV2',N'Ghế hạng Thương gia (Business Class)')
INSERT INTO SANBAY 
VALUES
('HN',N'Hà Nội'),
('HP',N'Hải Phòng'),
('HUE',N'Huế'),
('DN',N'Đà Nẵng'),
('KH',N'Khánh Hòa'),
('LD',N'Lâm Đồng'),
('HCM',N'TP HCM'),
('VT',N'Vũng Tàu'),
('CT',N'Cần Thơ'),
('QN',N'Quảng Ninh')
INSERT INTO TUYENBAY 
VALUES
('TB001','HN','HP'),
('TB002','HN','DN'),
('TB003','HN','HCM'),
('TB004','HN','CT'),
('TB005','HN','QN'),
('TB006','HN','HUE'),
('TB007','HCM','HN'),
('TB008','HCM','HP'),
('TB009','HCM','QN'),
('TB010','HCM','LD'),
('TB011','HCM','CT'),
('TB012','HCM','VT'),
('TB013','HN','VT'),
('TB014','VT','HN'),
('TB015','VT','DN'),
('TB016','VT','CT'),
('TB017','VT','LD'),
('TB018','VT','HP'),
('TB019','VT','HUE'),
('TB020','CT','HCM')
INSERT INTO DOANHTHUNAM 
VALUES
('DT_N001',2019,0),
('DT_N002',2020,0)


INSERT INTO THAMSO
VALUES
(30,2,10,20,24,0)


--if OBJECT_ID('usp_TyLeDoanhThuThang','p') is not null
--	drop proc usp_TyLeDoanhThuThang
--go
--create proc usp_TyLeDoanhThuThang
--as
--begin 
--end
--go
--exec usp_TyLeDoanhThuThang
go

--THỜI GIAN BAY TỐI THIỂU 30p
if OBJECT_ID('utr_TGBAYTOITHIEU') is not null
	drop trigger utr_TGBAYTOITHIEU 
go
create trigger utr_TGBAYTOITHIEU on CHUYENBAY 
for insert,update
as
begin
	if update(THOIGIANBAY)
	if not exists ( SELECT * FROM inserted WHERE THOIGIANBAY >= 30 )
		begin
			raiserror (N'Lỗi thêm, sửa không hợp lệ',16,1)
			rollback
		end
end
go

--TỐI ĐA 2 SÂN BAY TRUNG GIAN
if OBJECT_ID('utr_SANBAYTGTOIDA') is not null
	drop trigger utr_SANBAYTGTOIDA 
go
create trigger utr_SANBAYTGTOIDA on CHITIETCHUYENBAY 
for insert,update
as
begin
	if update(SANBAYTRUNGGIAN)
	if exists ( SELECT MACHUYENBAY FROM inserted 
				GROUP BY MACHUYENBAY 
				HAVING COUNT(SANBAYTRUNGGIAN)>2 )
		begin
			raiserror (N'Lỗi thêm, sửa không hợp lệ',16,1)
			rollback
		end
end
go

--THỜI GIAN DỪNG TỐI THIỂU: 10P
	if OBJECT_ID('utr_TGDUNG') is not null
		drop trigger utr_TGDUNG 
	go
	create trigger utr_TGDUNG on CHITIETCHUYENBAY 
	for insert,update
	as
	begin
		if update(TGDUNG)
		if exists ( SELECT * FROM inserted 
					WHERE DATEPART(minute,TGDUNG) < 10)
			begin
				raiserror (N'Lỗi thêm, sửa không hợp lệ',16,1)
				rollback
			end
	end
	go
--THỜI GIAN DỪNG TỪ TỐI ĐA: 20P
	if OBJECT_ID('utr_TGDUNG') is not null
		drop trigger utr_TGDUNG 
	go
	create trigger utr_TGDUNG on CHITIETCHUYENBAY 
	for insert,update
	as
	begin
		if update(TGDUNG)
		if exists ( SELECT * FROM inserted 
					WHERE DATEPART(minute,TGDUNG) > 20 )
			begin
				raiserror (N'Lỗi thêm, sửa không hợp lệ',16,1)
				rollback
			end
	end
	go
--CHỈ BÁN VÉ GHI CÒN CHỔ 
if OBJECT_ID('utr_BANVEKHICONCHO') is not null
		drop trigger utr_BANVEKHICONCHO 
	go
	create trigger utr_BANVEKHICONCHO on TINHTRANGVE 
	for insert,update
	as
	begin
		if update(SOGHETRONG)
		if exists ( SELECT * FROM inserted 
					WHERE SOGHETRONG = 0 )
			begin
				raiserror (N'Lỗi thêm, sửa không hợp lệ',16,1)
				rollback
			end
	end
	go

--THỜI GIAN CHẬM NHẤT KHI ĐẶT VÉ: 1 NGÀY TRƯỚC KHỞI HÀNH 
if OBJECT_ID('utr_DATVE') is not null
		drop trigger utr_DATVE 
	go
	create trigger utr_DATVE on PHIEUDATCHO 
	for insert,update
	as
	begin
		if update(NGAYDAT)
		if exists ( SELECT I.* FROM inserted I JOIN CHUYENBAY CB ON CB.MACHUYENBAY = I.MACHUYENBAY 
					WHERE DATEDIFF(DAY,I.NGAYDAT,CB.NGAYGIO) < 1  )
			begin
				raiserror (N'Lỗi thêm, sửa không hợp lệ',16,1)
				rollback
			end
	end
	go
